<div>
    <div class="logo">
        <img src="https://logoipsum.com/assets/logo/logo-1.svg" alt="">
        <h2>Sklep z softłerem</h2>
    </div>
    <div style="display: flex; justify-content: center;">
        <input type="text" [(ngModel)]="this.mainService.productsRequest.name">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
    </div>
    <div>
      <button id="cartBtn" routerLink="/cart">{{getCartQuanity()}}</button>
    </div>
</div>
